body {
	text-align: center;
}
#board {
	width: 1024px;
	height: 1024px;
	position: absolute;
}
#deck {

}
.greensprite {

}
.square {
	width: 60px;
	height: 60px;
	border: 2px solid black;
	display: inline-block;
	float: left;
}
.start {

}
.safe {

}
.end {

}
.slideMid {

}
.slideStart {

}
.slideEnd {

}
.blue {

}
.red {

}
.green {

}
.yellow {

}
/*MAKE A DETERMINATION ON WHETHER OR NOT SPRITES AND SQUARES CAN SHARE COLOR CLASSES*/