body {
	text-align: center;
}
#board {
	width: 800px;
	height: 800px;
	position: absolute;
}
#deck {

}
.greensprite {

}
.deck {

}
.square {
	width: 48px;
	height: 48px;
	border: 1px solid black;
	display: inline-block;
	float: left;
}
.start {

}
.safe {

}
.end {
	background-color: red;
}
.stage {
	background-color: blue;
}
.slideMid {

}
.slideStart {

}
.slideEnd {

}
.blue {

}
.red {

}
.green {

}
.yellow {

}
/*MAKE A DETERMINATION ON WHETHER OR NOT SPRITES AND SQUARES CAN SHARE COLOR CLASSES*/